(
  initial_sector: 0,
  initial_position: (0.0, -3.0),
  initial_direction_degrees: -18.0,
  sectors: [
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (-4.0, 0.0),
        (6.0, 0.0),
        (6.0, -6.0),
        (-4.0, -6.0),
        (-4.0, -2.0),
      ],
      walls: [
        (color: (168, 140, 92), portal: Some(1)),
        (color: (168, 140, 92), portal: Some(2)),
        (color: (168, 140, 92), portal: None),
        (color: (56, 56, 56), portal: Some(15)),
        (color: (168, 140, 92), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 6.8,
      vertices: [
        (-6.0, 10.0),
        (6.0, 10.0),
        (6.0, 8.0),
        (6.0, 4.0),
        (6.0, 0.0),
        (-4.0, 0.0),
        (-6.0, 0.0),
      ],
      walls: [
        (color: (56, 56, 56), portal: Some(11)),
        (color: (88, 156, 156), portal: None),
        (color: (56, 56, 56), portal: Some(3)),
        (color: (88, 156, 156), portal: None),
        (color: (88, 156, 156), portal: Some(0)),
        (color: (88, 156, 156), portal: None),
        (color: (88, 156, 156), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (6.0, 0.0),
        (20.0, 0.0),
        (20.0, -6.0),
        (6.0, -6.0),
      ],
      walls: [
        (color: (156, 96, 68), portal: None),
        (color: (56, 56, 56), portal: Some(14)),
        (color: (156, 96, 68), portal: None),
        (color: (156, 96, 68), portal: Some(0)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (6.0, 8.0),
        (10.2, 8.0),
        (10.0, 4.0),
        (6.0, 4.0),
      ],
      walls: [
        (color: (56, 56, 56), portal: Some(4)),
        (color: (184, 128, 80), portal: None),
        (color: (184, 128, 80), portal: None),
        (color: (56, 56, 56), portal: Some(1)),
      ],
    ),
    (
      floor: 0.3,
      ceil: 3.2,
      vertices: [
        (6.0, 12.0),
        (10.2, 12.0),
        (10.2, 8.0),
        (6.0, 8.0),
      ],
      walls: [
        (color: (204, 104, 88), portal: None),
        (color: (56, 56, 56), portal: Some(5)),
        (color: (56, 56, 56), portal: Some(3)),
        (color: (204, 104, 88), portal: None),
      ],
    ),
    (
      floor: 0.6,
      ceil: 3.2,
      vertices: [
        (10.2, 12.0),
        (14.0, 12.0),
        (14.0, 8.0),
        (10.2, 8.0),
      ],
      walls: [
        (color: (188, 92, 152), portal: None),
        (color: (188, 92, 152), portal: None),
        (color: (56, 56, 56), portal: Some(6)),
        (color: (56, 56, 56), portal: Some(4)),
      ],
    ),
    (
      floor: 0.9,
      ceil: 3.3,
      vertices: [
        (10.2, 8.0),
        (14.0, 8.0),
        (14.0, 4.0),
        (10.2, 4.0),
      ],
      walls: [
        (color: (56, 56, 56), portal: Some(5)),
        (color: (56, 56, 56), portal: Some(7)),
        (color: (124, 92, 188), portal: None),
        (color: (124, 92, 188), portal: None),
      ],
    ),
    (
      floor: 1.2,
      ceil: 3.6,
      vertices: [
        (14.0, 8.0),
        (20.0, 8.0),
        (20.0, 0.0),
        (14.0, 0.0),
        (14.0, 4.0),
      ],
      walls: [
        (color: (110, 140, 220), portal: None),
        (color: (56, 56, 56), portal: Some(14)),
        (color: (110, 140, 220), portal: None),
        (color: (110, 140, 220), portal: None),
        (color: (56, 56, 56), portal: Some(6)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.0,
      vertices: [
        (-16.0, 16.0),
        (-10.0, 16.0),
        (-10.0, 14.0),
        (-10.0, 12.2),
        (-10.0, 12.0),
        (-10.0, 10.0),
        (-16.0, 10.0),
      ],
      walls: [
        (color: (96, 64, 132), portal: None),
        (color: (96, 64, 132), portal: None),
        (color: (56, 56, 56), portal: Some(10)),
        (color: (96, 64, 132), portal: None),
        (color: (56, 56, 56), portal: Some(9)),
        (color: (96, 64, 132), portal: None),
        (color: (96, 64, 132), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 2.8,
      vertices: [
        (-10.0, 12.0),
        (-6.0, 12.0),
        (-6.0, 10.0),
        (-10.0, 10.0),
      ],
      walls: [
        (color: (72, 104, 156), portal: None),
        (color: (56, 56, 56), portal: Some(11)),
        (color: (72, 104, 156), portal: None),
        (color: (56, 56, 56), portal: Some(8)),
      ],
    ),
    (
      floor: 1.1,
      ceil: 2.1,
      vertices: [
        (-10.0, 14.0),
        (-6.0, 14.0),
        (-6.0, 12.2),
        (-10.0, 12.2),
      ],
      walls: [
        (color: (72, 92, 180), portal: None),
        (color: (56, 56, 56), portal: Some(11)),
        (color: (72, 92, 180), portal: None),
        (color: (56, 56, 56), portal: Some(8)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 2.8,
      vertices: [
        (-6.0, 14.0),
        (6.0, 14.0),
        (6.0, 12.0),
        (6.0, 10.0),
        (-6.0, 10.0),
        (-6.0, 12.0),
        (-6.0, 12.2),
      ],
      walls: [
        (color: (92, 156, 116), portal: None),
        (color: (56, 56, 56), portal: Some(12)),
        (color: (92, 156, 116), portal: None),
        (color: (92, 156, 116), portal: Some(1)),
        (color: (56, 56, 56), portal: Some(9)),
        (color: (92, 156, 116), portal: None),
        (color: (56, 56, 56), portal: Some(10)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.0,
      vertices: [
        (6.0, 16.0),
        (14.0, 16.0),
        (14.0, 12.0),
        (6.0, 12.0),
        (6.0, 14.0),
      ],
      walls: [
        (color: (72, 168, 164), portal: None),
        (color: (56, 56, 56), portal: Some(13)),
        (color: (72, 168, 164), portal: None),
        (color: (56, 56, 56), portal: Some(11)),
        (color: (72, 168, 164), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 2.8,
      vertices: [
        (14.0, 16.0),
        (26.0, 16.0),
        (26.0, 12.0),
        (20.0, 12.0),
        (14.0, 12.0),
      ],
      walls: [
        (color: (92, 156, 116), portal: None),
        (color: (92, 156, 116), portal: None),
        (color: (92, 156, 116), portal: None),
        (color: (92, 156, 116), portal: None),
        (color: (56, 56, 56), portal: Some(12)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.0,
      vertices: [
        (20.0, 9.8),
        (26.0, 9.8),
        (26.0, -6.0),
        (20.0, -6.0),
        (20.0, 0.0),
        (20.0, 8.0),
      ],
      walls: [
        (color: (52, 92, 136), portal: None),
        (color: (52, 92, 136), portal: None),
        (color: (52, 92, 136), portal: None),
        (color: (56, 56, 56), portal: Some(2)),
        (color: (56, 56, 56), portal: Some(7)),
        (color: (52, 92, 136), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 1.35,
      vertices: [
        (-10.0, -1.0),
        (-4.0, -2.0),
        (-4.0, -6.0),
        (-10.0, -6.0),
      ],
      walls: [
        (color: (124, 96, 72), portal: None),
        (color: (56, 56, 56), portal: Some(0)),
        (color: (124, 96, 72), portal: None),
        (color: (124, 96, 72), portal: None),
      ],
    ),
  ],
)
