(
  initial_sector: 0,
  initial_position: (-1.0, 0.0),
  initial_direction_degrees: -125.0,
  sectors: [
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (-4.0, 4.0),
        (2.0, 5.0),
        (6.0, 4.0),
        (6.0, -2.0),
        (2.0, -5.0),
        (-4.0, -4.0),
      ],
      walls: [
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: Some(2)),
        (color: (56, 56, 56), portal: Some(3)),
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: Some(1)),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (-10.0, 4.0),
        (-4.0, 4.0),
        (-4.0, -4.0),
        (-10.0, -4.0),
      ],
      walls: [
        (color: (92, 74, 58), portal: Some(7)),
        (color: (92, 74, 58), portal: Some(0)),
        (color: (92, 74, 58), portal: None),
        (color: (92, 74, 58), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (6.0, 4.0),
        (12.0, 4.0),
        (12.0, -2.0),
        (6.0, -2.0),
      ],
      walls: [
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: None),
        (color: (132, 160, 116), portal: Some(0)),
      ],
    ),
    (
      floor: 0.2,
      ceil: 3.2,
      vertices: [
        (6.0, -2.0),
        (8.0, -4.0),
        (6.0, -6.0),
        (2.0, -5.0),
      ],
      walls: [
        (color: (164, 126, 90), portal: None),
        (color: (56, 56, 56), portal: Some(4)),
        (color: (164, 126, 90), portal: None),
        (color: (56, 56, 56), portal: Some(0)),
      ],
    ),
    (
      floor: 0.4,
      ceil: 3.2,
      vertices: [
        (8.0, -4.0),
        (10.0, -6.0),
        (8.0, -8.0),
        (6.0, -6.0),
      ],
      walls: [
        (color: (188, 104, 204), portal: None),
        (color: (56, 56, 56), portal: Some(5)),
        (color: (188, 104, 204), portal: None),
        (color: (56, 56, 56), portal: Some(3)),
      ],
    ),
    (
      floor: 0.6,
      ceil: 3.3,
      vertices: [
        (10.0, -6.0),
        (12.0, -8.0),
        (10.0, -10.0),
        (8.0, -8.0),
      ],
      walls: [
        (color: (188, 104, 204), portal: None),
        (color: (56, 56, 56), portal: Some(6)),
        (color: (188, 104, 204), portal: None),
        (color: (56, 56, 56), portal: Some(4)),
      ],
    ),
    (
      floor: 0.8,
      ceil: 3.4,
      vertices: [
        (12.0, -8.0),
        (15.0, -10.0),
        (13.0, -13.0),
        (10.0, -10.0),
      ],
      walls: [
        (color: (82, 176, 162), portal: None),
        (color: (56, 56, 56), portal: Some(9)),
        (color: (82, 176, 162), portal: None),
        (color: (56, 56, 56), portal: Some(5)),
      ],
    ),
    (
      floor: 1.8,
      ceil: 2.6,
      vertices: [
        (-10.0, 6.0),
        (-4.0, 6.0),
        (-4.0, 4.0),
        (-10.0, 4.0),
      ],
      walls: [
        (color: (122, 168, 220), portal: Some(8)),
        (color: (122, 168, 220), portal: None),
        (color: (122, 168, 220), portal: Some(1)),
        (color: (122, 168, 220), portal: None),
      ],
    ),
    (
      floor: 0.0,
      ceil: 3.2,
      vertices: [
        (-10.0, 10.0),
        (-4.0, 10.0),
        (-4.0, 6.0),
        (-10.0, 6.0),
      ],
      walls: [
        (color: (44, 96, 104), portal: None),
        (color: (44, 96, 104), portal: None),
        (color: (44, 96, 104), portal: Some(7)),
        (color: (44, 96, 104), portal: None),
      ],
    ),
    (
      floor: 0.8,
      ceil: 3.4,
      vertices: [
        (15.0, -10.0),
        (19.0, -10.0),
        (18.0, -14.0),
        (13.0, -13.0),
      ],
      walls: [
        (color: (62, 124, 118), portal: None),
        (color: (62, 124, 118), portal: None),
        (color: (62, 124, 118), portal: None),
        (color: (62, 124, 118), portal: Some(6)),
      ],
    ),
  ],
)
